<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="/" class="logo d-flex align-items-center w-auto">
                Humble abode properties
              </a>
            </div>

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Verify your otp</h5>
                  <p class="text-center small">Enter your otp to verify</p>
                </div>

                <%= simple_form_for @user, url: verify_otp_path(@user), method: :post do |f| %>

                  <div class="col-12">
                    <label class="form-label">Enter your Otp</label>
                    <%= f.input :otp, as: :string, input_html: { class: "form-control", value: "" }, label: false %>
                  </div>

                  <div class="actions mt-3">
                    <%= f.submit "Verify" , class: "btn btn-primary w-100" %>
                  </div>
                <% end %>

              </div>
            </div>

            <div class="credits">
              <a href="/users/<%= @user.id %>/resend_otp">Resend otp</a>
            </div>

            <div class="credits mt-2">
              <a href="/users/sign_up">Sign up</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>